body {
  background: var(--cor3);
}

.menu {
  height: 7.5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  padding-inline: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--cor1);
  /* background-color: rgba(216, 219, 227, 0.2); */
  /* font-family: 'Poppins', sans-serif;; */
}

.logo {
  margin: 5px;
  width: 10%;
}

.logo img {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu nav h6 {
  font-size: 1.7rem;
}

.menu nav p {
  color: var(--cor1);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu nav p:hover {
  color: var(--cor0);
}

.container_forms {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 92.5vh;
}

.form-controller {
  background-color: var(--cor2);
  border-radius: 0.7rem;
  padding: 3rem 2rem;
  border: 1px solid var(--border);
  max-width: 35rem;
  width: 100%;
}

.formulario {
  color: var(--cor1);
  width: 100%;
  height: 100%;
}

.formulario h1 {
  color: var(--cor0);
  font-size: 2.5rem;
  margin-bottom: 0.7rem;
}

.formulario h2 {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.5;
}

.formulario input {
  background-color: rgb(0, 0, 0, 0.4);
  border: 1px solid var(--border);
  padding: 1rem;
  border-radius: 0.7rem;
  color: var(--cor0);
}

.formulario input:focus {
  outline-color: var(--cor4);
  outline-style: solid;
  outline-offset: 0.2rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group label {
  font-size: 1.4rem;
  color: var(--cor0);
  font-weight: 600;
  margin-top: 3rem;
}

.formulario #submit {
  background-color: var(--cor4);
  width: 100%;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  color: var(--cor2);
}

.formulario #submit:hover {
  background-color: var(--cor5);
}

.criar-conta {
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  text-decoration: underline;
  color: var(--cor1);
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.criar-conta:hover {
  color: var(--cor0);
}

button {
  background-color: var(--cor4);
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1.6rem;
  color: var(--cor2);
  height: 4rem;
  border-radius: 0.7rem;
  border: none;
}

button:hover {
  background-color: var(--cor5);
}

.divider {
  display: flex;
  flex-direction: row;
  height: 1px;
  background-color: var(--cor1);
  margin: 1rem 0 2rem 0;
}
