body {
  background: var(--cor3);
}

.menu {
  height: 7.5vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.7rem;
  padding-inline: 2rem;
  padding-top: 1rem;
  padding-bottom: 0.6rem;
  border-bottom: 1px solid var(--cor1);
  /* background-color: rgba(216, 219, 227, 0.2); */
  /* font-family: 'Poppins', sans-serif;; */
}

#logged-in-div {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.menu h6 {
  font-size: 1.7rem;
  color: var(--cor0);
  font-weight: 600;
}

.menu p {
  color: var(--cor1);
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.menu p:hover {
  color: var(--cor0);
}

.formulario {
  background-color: var(--cor2);
  border-radius: 0.7rem;
  padding: 3rem 2rem;
  color: var(--cor1);
  max-width: 35rem;
  width: 100%;
  border: 1px solid var(--border);
}

select {
  width: 100%;
  border-radius: 0.7rem;
  border: 1px solid var(--border);
  padding: 1rem;
  color: var(--cor1);
  background-color: rgb(0, 0, 0, 0.4);
  margin-bottom: 1rem;
  cursor: pointer;
}

select:hover,
select:active,
select:focus {
  background-color: rgb(0, 0, 0, 0.4);
}

select:focus {
  outline-color: var(--cor4);
  outline-style: solid;
  outline-offset: 0.2rem;
}

option {
  color: var(--cor1);
  background-color: var(--cor2);
  cursor: pointer;
  font-size: 1.4rem;
}